{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="app">
		<message-item v-bind:message="message"></message-item>
	</div>
    {%  verbatim %}
	<hr/>
	<div id="app2">
		<span v-bind:title="message">
			Hover over this message for the date!
		</span>
	</div>
	<hr/>
	<div id="app3">
		<p v-if="seen">Now you see me... (Type app3.seen = false to disappear)</p>
	</div>
	<hr/>
	<div id="app4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
	</div>
	<hr/>
	<div id="app5">
		<p>{{ message }}</p>
		<button  v-on:click="reverseMessage">Reserve Message</button>
	</div>
	<hr/>
	<div id="app6">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>
	<hr/>

	<div id="app7">
		<ol>
			<todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
		</ol>
	</div>
    <div id="app8">
		<li v-for="item in raw_data">
				{{ item.section_seq }}
        </li>
	</div>
	{% endverbatim %}
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{% static "vue.js" %}"></script>
    <script type="text/javascript" src="{% static "master.js" %}"></script>

  </body>
</html>